
.section {
    width: 100%;
    height: 60%;
}

.slider {
    overflow: hidden;
    position: relative;
}

.container {
    position: relative;
    width: 1170px;
    margin: 0 auto;
    color: #444;
    font-size: 14px;
    font-weight: 300;
    font-family: Roboto, 'Open Sans', Arial, sans-serif;
    overflow: hidden;
}

.section .container {
    padding: 30px 0 50px 0;
}

.section.bg {
    background: #ececec;
}

/*
  Header
*/

.hold {
    height: 80px;
}

    .header {
        line-height: 80px;
        width: 100%;
        transition: line-height 0.2s linear, box-shadow 0.2s linear;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        background: rgba(245, 245, 245, 0.97);
    }


.section .footer {
    background: #333;
}

.slidercontent {
    pointer-events: none;
    text-align: center;
    z-index: 10;
}

.slidercontent2 {
    top: 75%;
    width: 100%;
    align-self: center;
    position: absolute;
    text-align: center;
    z-index: 100;
}


#logo {
    object-fit: fill;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: url("/image/main_button.png");
    float: left;
    height: 50px;
    width: 240px;
    margin-left: 5px;
}


.call {
    color: white;
    display: block;
    margin-bottom: 20px;
    z-index: 10;
}


/* 
  Columns 
*/

.col {
    float: left;
    padding: 0;
    margin: 0;
    position: relative;
}

.col.four {
    width: 23%;
    margin: 0 1%;
}

.col.three {
    width: 31.3%;
    margin: 0 1%;
}

.col.two {
    width: 40%;
    margin: 0 2.5%;
    padding: 0 2.5%;
}

.col.extrapad {
    padding-top: 20px;
    padding-bottom: 20px;
}

.col .service, .col .feature {
    font-size: 21px;
    font-weight: 300;
    font-family: 'Roboto Slab', sans-serif;
}

.header.small {
    line-height: 50px;
    box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}

.header.small>.container>#logo {
    height: 40px;
}

.col .service:after {
    content: "";
    width: 50px;
    position: relative;
    border-bottom: 1px solid #eee;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

.col .feature {
    font-size: 19px;
}


.col .icon {
    border-radius: 50%;
    height: 85px;
    width: 85px;
    line-height: 85px;
    text-align: center;
    margin: 0 auto;
    transition: background 0.25s linear, color 0.25s linear;
}

.col .icon.side {
    position: absolute;
    padding: 0;
    margin: 0;
    top: -15px;
    height: 50px;
    width: 50px;
}

.col:hover>.icon.side {
    background: initial;
    color: initial;
}

.responsivegroup {
    display: none;
}

/*
  Column specifics
*/



.group.margin {
    margin-bottom: 20px;
}

.col .imgholder {
    height: 300px;
    width: 100%;
    background:black;
    transition: background 0.3s linear;
}

.col.bg {
    background: #FFF;
}

.col.pointer {
    cursor: pointer;
}


/*
  Text
*/


.reset {
    text-align: left !important;
    color: #FFF;
}

.reset:after {
    display: none !important;
}

/* 
  Slider with Content
*/


/*
  Responsive
*/

.group:after {
    content: "";
    display: table;
    clear: both;
}


.nokey1 {
    padding: 0px;
    opacity: 70%;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #111;
    z-index: 1;
}

.anh_tin {
    align-self: center;
    width: 100%;
    height: 100%;
}

#logo {
    z-index: 10;
    padding: 0px;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    text-align: start;
    color: #000;
    float: left;
    height: 40px;
    font-size: 20px;
    width: 170px;
    margin-left: 5px;
}


.anhnen {
    object-fit: cover;
    top: 0;
    padding: 0px;
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    -webkit-filter: blur(0px);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    z-index: -1;
}
.white h1, .white h2, .white p, .white div, .white a {
    color: #fff;
}
h2 {
    font-family: 'Roboto Slab', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}

.left, .left>h1, .left>p {
    text-align: left;
}
h1.hero {
    color: #FFF;
    font-size: 75px;
    z-index: 10;
}

h2.hero {
    color: #FFF;
    z-index: 10;
    font-size: 30px;
    margin-bottom: 60px;
}

h1.hero:after {
    content: "";
    z-index: 10;
    width: 300px;
    position: relative;
    border-bottom: 1px solid #aaa;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
ul.nav li a {
    padding: 21px;
    color: initial;
    text-decoration: initial;
}
ul.nav {
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.nav li {
    float: left;
    position: relative;
}

ul.nav li a {
    transition: color 0.2s linear;
    font-size: 15px;
}

ul.nav li:hover a {
    color: red;
}
.container>h1:not(.hero) {
    margin-bottom: 30px;
    text-align: center;
}.col span.feature {
    font-size: 20px;
}
.col p, .col h1 {
    padding: 0 1%;
    text-align: center;
}
.col h1.side, .col p.side, .col span.side:first-of-type {
    margin-left: 50px;
    text-align: left;
}
.call span {
    display: inline;
    border: 1px solid white;
    padding: 8px 13px;
    font-size: 20px;
    transition: background 0.15s linear;
}

.call span:hover {
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.container>h1:after {
    content: "";
    width: 30px;
    position: relative;
    border-bottom: 1px solid #aaa;
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 15px;
}

@media all and (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media all and (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media all and (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}



@media all and (max-width: 768px) {
    @media all and (max-width:450px) {
        .col, .col.four, .col.three, .col.two {
            display: block;
            width: 95%;
            padding: 0;
            margin: 0 auto;
            float: none;
        }
        .col.extrapad {
            padding: 1%;
            margin-bottom: 10px;
        }
        .group {
            display: none;
        }
    }
    ul.nav li a {
        transition: color 0.2s linear;
        font-size: 12px;
    }

    .container {
        width: 95%;
    }
    .col.four {
        width: 95%;
        margin: 1%;
    }
    .col.three {
        display: block;
        width: 95%;
        padding: 0;
        margin: 0 auto;
        float: none;
    }
    .header {
        height: auto;
        background: #eee;
    }
    #logo {
        position: initial;
        float: none;
        display: block;
        transform: none;
        
        margin: 10px auto 0 auto;
    }
    ul.nav {
        float: none;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    ul.nav li {
        float: initial;
        display: inline-block;
    }
    .responsivegroup {
        display: block;
    }
    .responsivegroup:after {
        content: "";
        display: table;
        clear: both;
    }
}